<nav class="navbar navbar-expand-lg navbar-light bg-light">        
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Git-Hub</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="candidatos">Cadidatos</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" routerLink="vagas">Vagas</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" routerLink="skils">Skils</a>
            </li>
        </ul>        
    </div>
</nav>
<router-outlet></router-outlet>
<!-- <app-entrevistahome></app-entrevistahome> -->