<form name="cadastro" class="text-center">
    <h2>Cadastro de Candidato</h2>
    <label>Nome</label>
    <input class="form-controll" name="name" type="text" [(ngModel)]="candidato.name"/>
    <button class="btn btn-success" (click)="cadastrar(candidato)">Cadastrar</button>
</form>
<div class="table-responsive">
    <table class="table">
        <thead>    
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let candidato of candidatos">
                <td>{{candidato.id}}</td>
                <td>{{candidato.name}}</td>                
                <td><button [routerLink]="['/candidato/',candidato.id]">Ver Habilidades</button></td>
            </tr>
        </tbody>
    </table>
</div>