<h2  class="text-center">Candidato</h2>
<label>Nome :</label>{{candidato.name}}<br/>    
    <!-- <input type="radio" *ngFor="let skil of skils">     -->
<div class="table-responsive">
    <table class="table">
        <thead>    
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let candidatoSkil of candidato.candidatoSkil">
                <td>{{candidatoSkil.skil.id}}</td>
                <td>{{candidatoSkil.skil.name}}</td>
                <td>{{candidatoSkil.skil.descricao}}</td>                                
            </tr>
        </tbody>
    </table>
</div>